<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta http-equiv="pragma" content="no-cache" />
</head>
<body bgcolor="<%=color %>">
  <div>
    <table>
    <% for(var i=0; i < records.length; i++) { %>
       <tr>
         <td><%= i+1 %>.</td>
         <td><%= records[i].fname %></td>
         <td><%= records[i].lname %></td>
         <td><%= records[i].progLanguages.filter(Boolean) %></td>
         <td><%= records[i].daysOfWeek.filter(Boolean) %></td>
         <td><%= records[i].hairColor %></td>
       </tr>
    <% } %>
    </table>
  </div>
</body>
</html>
