
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
Hello <%= uname %> !!! &nbsp; &nbsp; &nbsp;
Not <%= uname %> Please login  <a href="/login"> here </a></br>
Access Multiform <a href="/multiform1"> here </a>
</br>
</br>
</br>
<% if(records.length != 0) { %>
You top 3 search results:</br>
<div>
  <table>
  <% for(var i=0; i < records.length; i++) { %>
     <tr>
       <td><%= i+1 %>.</td>
       <td><%= records[i].fname %></td>
       <td><%= records[i].lname %></td>
       <td><%= records[i].progLanguages %></td>
       <td><%= records[i].daysOfWeek %></td>
       <td><%= records[i].hairColor %></td>
     </tr>
  <% } %>
  </table>
</div>
<%} else {%>
Preferences for logged in user not found!!! </br>
Please add preferences for current logged in user OR log in with correct user
<% }%>
</body>
</html>
