<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hair Color</title>
</head>
<body>
  Your Choices so far...<br>

  First Name: <%= fname %><br>
  Last Name : <%= lname %><br>
  Languages : <%= selectedLang %><br>
  Days of Week : <%= selectedDays %><br>
  Hair Color : <%= selectedHairColors %><br>

  <form action="post_coder" method="POST">
  <input type="submit" value="Submit">
  </form>

  <form action="remove" method="POST">
  <input type="submit" value="Cancel">
  </form>

  <form action="multiform5" method="POST">
  <input type="submit" value="Prev">
  </form>

</body>
