<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hair Color</title>
</head>
<body>
  Your Choices so far...<br><br>

  First Name: <%= fname %><br>
  Last Name : <%= lname %><br>
  Languages : <%= selectedLang %><br>
  Days of Week : <%= selectedDays %><br>
  Hair Color : <%= selectedHairColors %><br><br>

  <form action="post_coder" method="POST">
  <input type="submit" value="Prev" formaction="multiform5">
  <input type="submit" value="Submit" formaction="post_coder">
  <input type="submit" value="Cancel" formaction="remove">
  </form>

</body>
